<div class="modal fade" id="myWechat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= image_tag('wechat.png', width: '100%') %>
      </div>
      <div class="modal-footer">
        <h4>扫上面二维码图案,加我微信</h4>
      </div>
    </div>
  </div>
</div>