<div class="about">
  <h3>公司介绍</h3>
  <p>
    四川蓝航教育咨询公司是一家经工商部门注册的专业化咨询公司。公司始终以坚持品质、注重细节、服务社会的企业理念，致力于探索全球经济一体化背景下的人才培养教育模式，培养具有全球视野的高端人才和具有市场竞争力的高级职业人才。
    四川蓝航教育咨询公司通过教育为人才创造机会为客户创造价值。努力整合优质资源，发掘学界、业界、政界、军界多方力量，促进多领域行业学友互动合作，最大化客户价值，牵引更大事业机会，提升客户更高目标。
    公司通过项目经营、品牌经营和模式经营三个阶段的发展，通过打造教育市场经营开发，专业咨询服务和咨询营销服务三支优秀队伍，通过推进相应领域的咨询研究和服务创新，逐步构筑自身的核心能力和竞争优势，实现持续成长和持续为客户创造服务价值，为教育升华为人生价值和推动社会进步贡献力量。
  </p>
</div>