<div class="nursing">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag('sy/cp.jpg', width: '100%') %>
      <h4>计算机应用</h4>
      <div class="detail">
        <div class="left"><i class="fa fa-file file"></i></div>
        <div class="middle">详情页面</div>
        <div class="right"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>

    <div class="panel-footer detail-footer">
      <div class="detail-left" style="margin-top:10%"><i class="fa fa-arrow-left hide-data"></i>
        <h3>详细说明</h3>
        <p>
          本专业培养德，智，体，美全面发展的，既掌握动画美术理论，又具有较强的原动画设计及制作能力，
          同时熟练掌握各种电脑辅助软件应用的高级专业应用型人才，本专业致力于为赛事举办方，电竞俱乐部，
          职业战队，电竞频道，网络直播平台等电竞企业培养各类专精尖人才。
        </p>
        <strong>学历层次: 中技+大专(全日制)</strong></br>
        <strong>薪资待遇: 3500-8000元</strong></br>
        <strong>限招名额: 100人</strong>
      </div>
    </div>
  </div>
</div>