<div class="nursing">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag('sy/cp.jpg', width: '100%') %>
      <h4>学前教育</h4>
      <div class="detail">
        <div class="left"><i class="fa fa-file file"></i></div>
        <div class="middle">详情页面</div>
        <div class="right"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>

    <div class="panel-footer detail-footer">
      <div class="detail-left" style="margin-top:10%"><i class="fa fa-arrow-left hide-data"></i>
        <h3>详细说明</h3>
        <p>
        学前教育和小学教育是基础教育的重要组成部分，是学校教育和重视教育的奠基阶段，是我国人才强国战略工程的重要组成部分和起始阶段。
        《国务院关于当前发展学前教育的若干意见》〈国发【2010】41号〉明确指出：各级政府要充分认识发展学前教育的重要性和紧迫感，
        将大力发展学前教育作为贯彻落实教育规划纲要的突破口，作为推动教育事业发展的重要议事日程。在学生就业市场风云变幻的今天，
        高素质学前教育专业生却拥有巨大的就业市场和人生舞台，其就业前景骤然跃居全国前十位的金牌榜。
        </p>
      </div>
    </div>
  </div>
</div>