<div class="mechanicMain">
  <div class="mechanicContainer">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>成都圣亚技工学校</h2>
        </div>
      <div class="pane-body">
        <h2 class="zsyq">2019招生要求</h2>
        <div class="cat">
          <%= link_to image_tag('sy.jpg', width: '100%')%>
        </div>
        <div class="dog">
          <p>
          成都圣亚技工学校2019年开始招生啦！
          小编将学校招生政策整理如下，希望对你有帮助。
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>