<div class="nursing">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>专业详情</h4>
    </div>
    <div class="panel-body">
      <%= image_tag('hot/hot_hl.jpg', width: '100%') %>
      <h4>护理专业</h4>
      <div class="detail">
        <div class="left"><i class="fa fa-file file"></i></div>
        <div class="middle">详情页面</div>
        <div class="right"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>

    <div class="panel-footer detail-footer">
      <div class="detail-left"><i class="fa fa-arrow-left hide-data"></i>
        <h3>详细说明</h3>
        <p>Distillery freegan bitters twee.  Food truck dreamcatcher PBR&amp;B chillwave brunch. 
        Fixie mustache umami Neutra dreamcatcher, Odd Future try-hard master cleanse pork belly iPhone Etsy.  
        Disrupt kogi Echo Park, wolf DIY literally meditation skateboard gentrify photo booth Carles asymmetrical mumblecore.  
        Fashion axe 3 wolf moon normcore scenester, bitters drinking vinegar banh mi keytar swag 8-bit.  
        Tote bag heirloom pickled authentic mlkshk, scenester hoodie shabby chic Kickstarter tattooed church-key Helvetica Wes Anderson.  
        Ennui craft beer art party, 8-bit chillwave single-origin coffee mlkshk.</p>
      </div>
    </div>
  </div>
</div>