<div class="nursing">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag('hot/hot_hl.jpg', width: '100%') %>
      <h4>护理专业</h4>
      <div class="detail">
        <div class="left"><i class="fa fa-file file"></i></div>
        <div class="middle">详情页面</div>
        <div class="right"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>

    <div class="panel-footer detail-footer">
      <div class="detail-left" style="margin-top:4%"><i class="fa fa-arrow-left hide-data"></i>
        <h3>详细说明</h3>
        <p>
          掌握相关的人文社会科学，基础医学，预防保健的基本理论知识，护理学基本理论，基本知识，基本技能，护理急，慢性和重症病人的护理原则，
          操作技术，专科护理和监护技能，并能够应用护理程序对服务对象实施整体护理；具有社会健康服务，护理管理和护理教育的基本能力；药学，
          生物药剂学，药物制剂工程等方面的基础理论和基本知识。</br>
        </p>
        <strong>学历层次：中技+大专（对口高职）</strong></br>
        <strong>薪资待遇: 3500-7000元</strong></br>
        <strong>限招名额: 100人</strong>
      </div>
    </div>
  </div>
</div>