<div class="nursing">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag('sy/xq.jpg', width: '100%') %>
      <h4>学前教育</h4>
      <div class="detail">
        <div class="left"><i class="fa fa-file file"></i></div>
        <div class="middle">详情页面</div>
        <div class="right"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>

    <div class="panel-footer detail-footer">
      <div class="detail-left" style="margin-top:8%"><i class="fa fa-arrow-left hide-data"></i>
        <h3>详细说明</h3>
        <p>
        学前教育和小学教育是基础教育的重要组成部分，是学校教育和重视教育的奠基阶段，是我国人才强国战略工程的重要组成部分和起始阶段。
        《国务院关于当前发展学前教育的若干意见》〈国发【2010】41号〉明确指出：各级政府要充分认识发展学前教育的重要性和紧迫感，
        将大力发展学前教育作为贯彻落实教育规划纲要的突破口，作为推动教育事业发展的重要议事日程。在学生就业市场风云变幻的今天，
        高素质学前教育专业生却拥有巨大的就业市场和人生舞台，其就业前景骤然跃居全国前十位的金牌榜。

        学制：4年（高中毕业生3年）
        
        层次：大专+高技（可升本）
        
        培养方向：大中城市学前教育与小学教育教师和管理人员
        
        工资待遇：毕业生3000-8000元/月
        
        招生条件：1、应往届初中及以上学历毕业生或具同等学历者； 
                      2、遵纪守法、热爱劳动、文明礼貌、朴实诚信； 
                      3、无顽疾，无传染病，无慢性病，精神病史，无犯罪史，无严重违纪史； 
                      4、面部、颈部、手部无明显疤痕，无纹身； 
                      5、五官端正，形象气质佳； 
                      6、男身高不低于168cm，女身高不低于155cm，年龄在15至18周岁； 
                      7、嗅觉正常； 
                      8、具备音乐、舞蹈、美术等艺术特长生优先录取。
        
        政审要求：未受到刑事处罚和劳动教养处罚，未正在被国家机关侦察、起诉、审判，无其他严重违法行为，未参加非法组织，表现良好，品行端正。
        
        就业单位：国内大中城市学前教育机构及小学
        
        录取程序：初试（合格）→复试（合格）→体检（合格）→政审（合格）→录取
        
        定向培养名额：60人
      </div>
    </div>
  </div>
</div>