<div class="nursing">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag('sy/tlys.jpg', width: '100%') %>
      <h4>轨道运输</h4>
      <div class="detail">
        <div class="left"><i class="fa fa-file file"></i></div>
        <div class="middle">详情页面</div>
        <div class="right"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>

    <div class="panel-footer detail-footer">
      <div class="detail-left" style="margin-top:33%"><i class="fa fa-arrow-left hide-data"></i>
        <h3>详细说明</h3>
        <p>为现代城市提供配套的高铁营运高级综合人才，该专业主要掌握高铁企业战略管理，
          人力资源管理，国际旅游基本理论与知识，注重人员素质和能力开发，包括公关能力，组织能力，涉外经营能力。
        </p>
        <strong>学历层次: 中技+大专(统招大专)</strong></br>
        <strong>薪资待遇: 3500+8000元</strong></br>
        <strong>限招名额: 100人</strong>
      </div>
    </div>
  </div>
</div>