<div class="container">
  <div class="row">
    <div class="panel panel-danger" style="margin-top:17%">
      <div class="panel-heading">
        <h4>大学排名”它评它的，我干我的</h4>
      </div>
      <div class="panel-body">
        <p>
          大学排名”它评它的，我干我的



          对这些排名、这些评比，你可以去看它，去参考它，但是你不要在乎它，它评它的，我干我的。尊敬排名，不唯排名。
          
          
          
          老师绝不允许课上不讲课下讲
          
          
          
          老师要按照大纲足额授课，绝不允许课上不讲课下讲、课上少讲课后讲，甚至鼓励引导学生参加培训。
          
          
          
          不要盲目追求成功学，不听忠告听忽悠
          
          
          
          各种成功学、各种培训机构的广告满天飞。不要盲目追求那些成功学，很多都是鸡汤加忽悠。鸡汤喝得众人醉，错把忽悠当翡翠，这是不行的，不听忠告听忽悠，负担增加人人愁。
          
          
          
          学校要拒绝各种“表叔”“表哥”
          
          
          
          要把时间还给老师，学校要拒绝各种“表叔”“表哥”——现在是表太多了。学校要拒绝它们，让老师有足够的时间和精力研究教学、备课充电、提高素质、提高质量。
          
          
          
          有些学校的思政课，像春运期间的高铁票那样一票难求
          
          
          
          有些学校的思政课，像春运期间的高铁票那样一票难求。一些思政课作为慕课推上网络，受到全社会的喜爱，发生了积极的影响。
          
          
          
          “双一流”建设只能带动中西部高校的发展，不会削弱
          
          
          
          “双一流”建设只能带动中西部高校的发展，不会削弱；只能提升中国高等教育整体发展水平，不会削弱；只能促进各级各类高校按照合理布局持续健康发展，不会削弱。
          
          
          
          学前教育既要继续解决有没有，更要下大力气解决好不好
          
          
          
          发展学前教育既要继续解决有没有的问题，更要下大力气解决好不好的问题。家长们希望，自己的孩子能够就近入园，入一个优质幼儿园，入一个便宜的幼儿园。这个问题需要破解。
          
          
          
          为未来生产人才的人，必须是高素质的
          
          
          
          师范教育非常重要，教育是经营未来的。我们提供的人才，是未来的人才，为未来培养人才。为未来生产人才的人，必须是高素质的。
          
          
          
          
          
          这些举措很给力
          
          
          
          今年基本消除超大班额
          
          
          
          2018年要基本消除66人以上的超大班额。明年大班额要取得突破性、决定性的进展。倒排工期，落实责任，建立工作台账。我们的目标一定能实现。
          
          
          
          改变学生减负不减反增，从五个方面努力
          
          
          
          一是从学校减。二是校外减负。三是考试评价减负。四是老师教学减负。五是家长和社会减负。
          
          
          
          砍断教师和培训机构在教学方面的联系
          
          
          
          培训机构可以搞各种培训，但是不能搞超前教学、超纲教学。还要割断各类考试、考评、竞赛成绩和招生的联系，不把它作为招生的凭据。
          
          
          
          “双一流”建设给中西部高校打开大门
          
          
          
          “双一流”建设，是开放的、动态的、持续激励的计划。这本身就给中西部高校打开了一扇发展的大门。对中西部我们相应实施了中西部高等教育振兴计划、中西部高校能力建设工程。
          
          
          
          七个措施解决好学前教育问题
          
          
          
          首先，要实施好第三个三年行动计划，把这个计划落实好。二是制定出一个发展规划。三是继续加强对幼儿园的监管。四是加强幼儿园的安全管理。五是要综合治理小学化倾向。六是加强师资队伍建设。最后一个措施就是立法。会同有关部门抓紧起草学前教育法。
          
          
          
          努力提高幼师、保教人员的待遇
          
          
          
          要努力提高幼师、保教人员的待遇，尊重他们的劳动。现在我们好多幼儿园主要指民办幼儿园，低工资、低待遇，不能安心从教、从保，幼师毕业的学生不愿到幼儿园去工作，这个问题也是必须解决的。
          
          
          
          今年起还有17个省份要开启高考改革进程
          
          
          
          目前上海浙江已经在试点基础上完善了考试招生改革的方案。去年我们在北京天津山东海南四个省市，启动了高考招生制度改革。目前教育部正在配合指导这四个省市完善高考招生制度改革方案。此外，从今年起，还有17个省份要开启改革的进程。对这些省份，我们正在进行评估，我们的基本态度是实事求是、不凑数，条件达到了就批准启动，条件达不到就创造条件，达到了再上。
          
        </p>
    </div>
  </div>
</div>