<div class="container">
  <div class="row">
    <div class="panel panel-danger" style="margin-top:17%">
      <div class="panel-heading">
        <h4>2015—2018年职业院校管理水平提升行动计划实施情况</h4>
      </div>
      <div class="panel-body">
        <p>
        2015年，教育部印发《职业院校管理水平提升行动计划（2015-2018年）》（以下简称《行动计划》），实施“六大行动、20项系列活动”，重在落细落小落实国家有关政策、制度、标准和要求，不断提高职业院校管理工作规范化、科学化、精细化水平。《行动计划》启动实施以来，教育部和地方教育行政部门、各职业院校积极行动，持续发力、久久为功，取得了卓有成效的进展和成效。
        
        一是全面推进依法治校、加快完善现代职业学校制度的迫切需要。党的十八届四中全会提出全面推进依法治国，确立建设中国特色社会主义法治体系的总体目标，强调法治国家、法治政府、法治社会一体建设。依法治教、依法治校是全面推进依法治国的重要组成部分，也是构建现代职业教育体系，完善现代职业学校制度的可靠保障。实施《行动计划》是落细落小落实依法治教、依法治校总体要求，推进已有法规、制度及标准“落地”，打通政策的“最后一公里”的具体体现。
        
        
        二是积极回应社会关切、努力办好人民群众满意职业教育的迫切需要。近年来，职业教育获得社会各方面的高度关注，与此同时，职业院校管理工作中一些问题也开始得以暴露，尤其在招生、学籍、教学、实习、安全、财务等领域一些突出问题长期未得到有效根治，如有偿招生、虚假学籍、课程开设与教学实施随意变动、学生实习的安全责任分担机制不健全、学生顶岗实习岗位与其专业对应岗位群不吻合等。一些职业院校内部管理比较松散，制度化、规范化程度比较低，暴露出许多管理上的漏洞和问题。实施《行动计划》，是标本兼治，解决问题的现实要求。
        
        
        
        三是深化职业教育改革，提高人才培养质量的迫切需要。职业教育进入全面深化改革、提高质量内涵的新阶段，对职业院校管理工作提出了新的更高的要求。如各项管理制度标准缺失，无法运用有效的手段和方法去评价职业教育质量；行业、企业和社会力量多方参与职业院校内部管理的长效机制尚未建立；管理手段陈旧、效率低，运用现代信息技术能力不足；管理人员专业化水平亟待提升等一系列阻碍职业教育质量提高的问题，这些问题需要通过实施《行动计划》，实现以管理促改革，以管理出质量。
        
        
        
        
        </p>
      </div>
    </div>
  </div>
</div>