<div class="container">
  <div class="row">
    <div class="panel panel-danger" style="margin-top:17%">
      <div class="panel-heading">
        <h4>北大雅安附属实验学校落户名山</h4>
      </div>
      <div class="panel-body">
        <p>
          5月16日下午，雅安市名山区人民政府与四川青鸟教育投资有限公司签订合作办学协议，北大雅安附属实验学校正式落户名山区。雅安市委常委、统战部长、名山区委书记吴宏，市教育局局长赵敏，四川青鸟教育投资有限公司总经理、北大成都附属实验学校执行校长杨永明,四川青鸟教育投资有限公司副总经理韩成，区委常委、区委副书记周万友，区委常委、宣传部长刘勇，区委常委、常务副区长张瑜锋，市教科所所长、区政府办主任黄光军，名山区教育局党委书记、局长秦超俊等相关负责人出席签约仪式。

          在签约仪式上,吴宏致欢迎辞，表示名山区委、区政府将坚持公办教育和民办教育同规划、同部署、同发展、同落实，形成以政府办学为主体、全社会积极参与、公办教育和民办教育共同发展的格局，全力促进各级各类教育快速健康有序发展。赵敏在讲话中指出，合作办学协议的签订将进一步扩大优质教育覆盖面，满足群众对优质教育资源的迫切需求，对于推动雅安教育跨越发展具有重要意义。韩成表示，北大雅安附属实验学校将整合教学资源，办出高水平、有影响、有特色的优质教育，更好地为基础教育提升贡献力量。
          
          根据协议，学校将按照《中华人民共和国民办教育促进法》等有关法律法规办学，选址雅安市名山区蒙阳镇新民路，占地面积43360.7平方米，建筑面积17321.39平方米，预计投资总额1.6亿元，于2018年秋季开学起实现初中、高中招生，计划建设成为涵盖学前、小学、初中、高中，容纳4000余名全日制在校学生，教育教学一流、管理精细、特色明显的示范性学校。
        </p>
      </div>
    </div>
  </div>
</div>