.titleCenter{
  height: 2.2rem;
  line-height: 2.2rem;
  background: #fff;
  border-radius: 25px;
  .titleText{
    color: #cc3031;
    padding-left: 1rem;
    font-size: 2rem;
    .titleContent{
      white-space: nowrap;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
    }
  }
}

.primaryContent{
  position: absolute;
  border: 1px solid #ddd;
  margin-top: 8px;
  width: 100%;
  .titleContainer{
    margin-bottom: 8px;
    width:  100%;
    position:relative;
    overflow: hidden;
  }
  img {width: 100%;}
  .titleContainer:after{
    position:absolute;
    left: 0;
    top:0;
    display: block;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.65);
    content: attr(data-text);
    transition:all 1s ease;
    transform: translateY(0);
    color: #FFF;
  }
  .titleTitle{
    color: #fff;
    font-size: 2em;
  }
}

.panelContent{
  position: relative;
  .titlePanel{
    position: absolute;
    top: 40%;
    left: 15%;
    margin: 0 auto;
    text-align: center;
  }
}
.hotContainer{
  width: 100%;
  .hotTitle{
    color: red;
    font-size: 2em;
  }
}


//mechainc
.mechanicMain{
  margin-top: 20%;
  .jj{
    padding: 2px 16px;
  }
}
.zsyq{
  margin-left: 20px;
}
.dog{
  padding: 16px 24px;
}

//hot
.popular{
  margin-top: 17%;
}

//nursing
.nursing{
  margin-top: 15%;
  .detail{
    border: 1px solid #cecece;
    margin-top: 5%;
    font-size: 2rem;
    height: 40px;
  }
  .left{
    float: left;
    width: 20%;
    .file{
      padding:8px 9px;
    }
  }
  .middle{
    float: left;
    padding: 5px;
    font-family: cursive;
  }
  .right{
    float: right;
    padding: 5px;
  }
  .detail-footer{
    display: none;
    transition: all 0.2s ease;
    transform: translateY(-100%);
    height: 390px;
  }
}


.footer{
  background: #cc3031;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 18%;
  .footer-body{
    padding: 20px 29px;
  }
  
  .contact{
    float: left;
    width: 35%;
    #mobile{
      font-size: 5em;
      color: #fff;
      margin-top: -30px;
    }
    #phone-number{
      margin-top: -20px;
      margin-left: -7px;
      color: #fff;
      font-size:1.5rem;
    }
  }
  .chat{
    float: left;
    width: 43%;
    #wechat{
      font-size: 4em;
      color: #fff;
      margin-top: -18px;
    }
    #add-wechat{
      margin-top: -12px;
      color: #fff;
      font-size:1.5rem;
    }
  }
  .qq{
    #qqImage{
      font-size: 4em;
      color: #fff;
      margin-top: -19px;
    }
    #qq-number{
      position: absolute;
      left: 74%;
      top: 70%;
    }
  }
}

.eduction{
  margin-bottom: 35%;
  margin-top: -10px;
}

.about{
  margin-top: 70px;
}

.more{
  display: none;
}
.second{
  display: none;
}
