<%= image_tag(@product.image.url, size: "100x100") %>
<p>
  Name: <%= @product.name %>
</p>
<p>
  Price: <%= number_to_currency(@product.price) %>
</p>

<p>
  Category: <%= @product.category.name %>
</p>